<div class="p-styleGuide__example">
  <div class="p-styleGuide__exampleOutput">
    <%= rendered_example %>
  </div>

  <div class="p-styleGuide__codeBlock">
    <div class="highlight">
      <pre><%= code_example %></pre>
    </div>
  </div>
</div>
